<%- include('../../includes/admin/header.ejs')%>

  <h1>Main Page Articles</h1>
  <a href="/admin/add_article">
    <button class="ui button">Ajouter un article</button></a>

  <%- include('../../includes/admin/footer.ejs')%>